<!doctype html>
<html lang="en">
<head>
    <title>出国看病信息服务平台-出境医</title>
    <meta name="description" content="出境医是国内最大的出国看病信息服务平台，提供国外最好医院，海外药品信息，前沿医疗资讯，最新临床试验，出国看病服务机构等信息，助力您快速出国看病服务机构决策。">
    <meta name="keyword" content="出国看病">
    <meta name="Author" content="出境医">
    <meta name="keyword" content="出国看病">
    <meta charset="utf-8">
    <!-- 引入样式 -->
    <% htmlWebpackPlugin.options.cdnConfig.forEach(function(item){ if(item.css){ %>
        <link href="<%= item.css %>" rel="stylesheet"/>
    <% }}) %>
</head>
<body>

<div id="app" ref="pageContent">

dd
</div>
<% htmlWebpackPlugin.options.cdnConfig.forEach(function(item){ if(item.js && !htmlWebpackPlugin.options.onlyCss){ %>
    <script type="text/javascript" src="<%= item.js %>"></script>
<% }}) %>

</body>
</html>